In [1]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Practice').getOrCreate()

24/04/04 18:07:49 WARN Utils: Your hostname, Koyanas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.17 instead (on interface en0)
24/04/04 18:07:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/04 18:07:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df=spark.read.option('header','true').csv('username.csv',inferSchema=True)
df.show() #to print csv data

+-----------------------------------------+
|Username; Identifier;First name;Last name|
+-----------------------------------------+
|                     booker12;9012;Rac...|
|                     grey07;2070;Laura...|
|                     johnson81;4081;Cr...|
|                     jenkins46;9346;Ma...|
|                     smith79;5079;Jami...|
+-----------------------------------------+

In [3]:
df.printSchema()

root
 |-- Username; Identifier;First name;Last name: string (nullable = true)

In [4]:
df.columns

['Username; Identifier;First name;Last name']

In [5]:
df.head(3)

[Row(Username; Identifier;First name;Last name='booker12;9012;Rachel;Booker'),
 Row(Username; Identifier;First name;Last name='grey07;2070;Laura;Grey'),
 Row(Username; Identifier;First name;Last name='johnson81;4081;Craig;Johnson')]

In [9]:
from pyspark.sql.functions import split

# Split the concatenated column into separate columns
df_split = df.withColumn("split_column", split(df["Username; Identifier;First name;Last name"], ";"))

# Extract each individual column from the split_column array
df_parsed = df_split.selectExpr("split_column[0] as Username", "split_column[1] as Identifier", "split_column[2] as `First name`", "split_column[3] as `Last name`")

# Show the parsed DataFrame schema
df_parsed.printSchema()

# Now you can select the 'Username' column
df_parsed.select('Username').show()

root
 |-- Username: string (nullable = true)
 |-- Identifier: string (nullable = true)
 |-- First name: string (nullable = true)
 |-- Last name: string (nullable = true)

+---------+
| Username|
+---------+
| booker12|
|   grey07|
|johnson81|
|jenkins46|
|  smith79|
+---------+

In [10]:
df_parsed.select(['Username','Identifier']).show()

+---------+----------+
| Username|Identifier|
+---------+----------+
| booker12|      9012|
|   grey07|      2070|
|johnson81|      4081|
|jenkins46|      9346|
|  smith79|      5079|
+---------+----------+

In [11]:
df_parsed.show()

+---------+----------+----------+---------+
| Username|Identifier|First name|Last name|
+---------+----------+----------+---------+
| booker12|      9012|    Rachel|   Booker|
|   grey07|      2070|     Laura|     Grey|
|johnson81|      4081|     Craig|  Johnson|
|jenkins46|      9346|      Mary|  Jenkins|
|  smith79|      5079|     Jamie|    Smith|
+---------+----------+----------+---------+

In [12]:
df_parsed.dtypes

[('Username', 'string'),
 ('Identifier', 'string'),
 ('First name', 'string'),
 ('Last name', 'string')]

In [13]:
df.dtypes

[('Username; Identifier;First name;Last name', 'string')]

In [15]:
df.describe().show()

+-------+-----------------------------------------+
|summary|Username; Identifier;First name;Last name|
+-------+-----------------------------------------+
|  count|                                        5|
|   mean|                                     NULL|
| stddev|                                     NULL|
|    min|                     booker12;9012;Rac...|
|    max|                     smith79;5079;Jami...|
+-------+-----------------------------------------+

In [22]:
#adding column
# Import necessary functions from PySpark
from pyspark.sql.functions import lit

# Adding a column named 'Age' with a default value of 0
df = df.withColumn('Age', lit(0))
df = df.withColumn('Salary', lit(0))

# Show the DataFrame with the new 'Age' column
df.show()

+-----------------------------------------+---+------+
|Username; Identifier;First name;Last name|Age|Salary|
+-----------------------------------------+---+------+
|                     booker12;9012;Rac...|  0|     0|
|                     grey07;2070;Laura...|  0|     0|
|                     johnson81;4081;Cr...|  0|     0|
|                     jenkins46;9346;Ma...|  0|     0|
|                     smith79;5079;Jami...|  0|     0|
+-----------------------------------------+---+------+

In [23]:
df.drop('Age')

DataFrame[Username; Identifier;First name;Last name: string, Salary: int]

In [24]:
df.show()

+-----------------------------------------+---+------+
|Username; Identifier;First name;Last name|Age|Salary|
+-----------------------------------------+---+------+
|                     booker12;9012;Rac...|  0|     0|
|                     grey07;2070;Laura...|  0|     0|
|                     johnson81;4081;Cr...|  0|     0|
|                     jenkins46;9346;Ma...|  0|     0|
|                     smith79;5079;Jami...|  0|     0|
+-----------------------------------------+---+------+

In [25]:
df=df.drop('Age')

In [26]:
df.show()

+-----------------------------------------+------+
|Username; Identifier;First name;Last name|Salary|
+-----------------------------------------+------+
|                     booker12;9012;Rac...|     0|
|                     grey07;2070;Laura...|     0|
|                     johnson81;4081;Cr...|     0|
|                     jenkins46;9346;Ma...|     0|
|                     smith79;5079;Jami...|     0|
+-----------------------------------------+------+

In [28]:
df=df.withColumnRenamed('Salary','Initial Salary')

In [29]:
df.show()

+-----------------------------------------+--------------+
|Username; Identifier;First name;Last name|Initial Salary|
+-----------------------------------------+--------------+
|                     booker12;9012;Rac...|             0|
|                     grey07;2070;Laura...|             0|
|                     johnson81;4081;Cr...|             0|
|                     jenkins46;9346;Ma...|             0|
|                     smith79;5079;Jami...|             0|
+-----------------------------------------+--------------+

In [30]:
df_parsed.show()

+---------+----------+----------+---------+
| Username|Identifier|First name|Last name|
+---------+----------+----------+---------+
| booker12|      9012|    Rachel|   Booker|
|   grey07|      2070|     Laura|     Grey|
|johnson81|      4081|     Craig|  Johnson|
|jenkins46|      9346|      Mary|  Jenkins|
|  smith79|      5079|     Jamie|    Smith|
+---------+----------+----------+---------+

In [31]:
df_parsed = df_parsed.withColumn('Salary', lit(0))

In [32]:
df_parsed.show()

+---------+----------+----------+---------+------+
| Username|Identifier|First name|Last name|Salary|
+---------+----------+----------+---------+------+
| booker12|      9012|    Rachel|   Booker|     0|
|   grey07|      2070|     Laura|     Grey|     0|
|johnson81|      4081|     Craig|  Johnson|     0|
|jenkins46|      9346|      Mary|  Jenkins|     0|
|  smith79|      5079|     Jamie|    Smith|     0|
+---------+----------+----------+---------+------+