In [1]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Aggregate').getOrCreate()

24/04/04 21:45:57 WARN Utils: Your hostname, Koyanas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.17 instead (on interface en0)
24/04/04 21:45:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/04 21:45:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/04 21:45:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/04 21:45:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
ag=spark.read.csv('test_agg.csv',header=True,inferSchema=True)
ag.show()

+------+---+------+----------+
|  Name|Age|Salary|Department|
+------+---+------+----------+
| Rahul| 19| 25000|       ISE|
|Shweta| 20| 50000|       MTE|
| Mohit| 22| 25000|       ISE|
|  Raju| 25| 75000|        SE|
|Preeti| 30| 75000|        SE|
|Laxman| 24| 50000|       MTE|
|Keshav| 23| 25000|       ISE|
+------+---+------+----------+

In [3]:
ag.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [4]:
ag.groupBy('Department').sum().show()

+----------+--------+-----------+
|Department|sum(Age)|sum(Salary)|
+----------+--------+-----------+
|       MTE|      44|     100000|
|       ISE|      64|      75000|
|        SE|      55|     150000|
+----------+--------+-----------+

In [9]:
ag.groupBy('Department').sum().show()

+----------+--------+-----------+
|Department|sum(Age)|sum(Salary)|
+----------+--------+-----------+
|       MTE|      44|     100000|
|       ISE|      64|      75000|
|        SE|      55|     150000|
+----------+--------+-----------+

In [10]:
ag.groupBy('Department').max().show()

+----------+--------+-----------+
|Department|max(Age)|max(Salary)|
+----------+--------+-----------+
|       MTE|      24|      50000|
|       ISE|      23|      25000|
|        SE|      30|      75000|
+----------+--------+-----------+

In [11]:
ag.groupBy('Department').mean().show()

+----------+------------------+-----------+
|Department|          avg(Age)|avg(Salary)|
+----------+------------------+-----------+
|       MTE|              22.0|    50000.0|
|       ISE|21.333333333333332|    25000.0|
|        SE|              27.5|    75000.0|
+----------+------------------+-----------+

In [12]:
ag.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|       MTE|    2|
|       ISE|    3|
|        SE|    2|
+----------+-----+

In [15]:
#apply aggregate functions directly

ag.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     325000|
+-----------+

In [18]:
ag.groupBy('Name').max().show()

+------+--------+-----------+
|  Name|max(Age)|max(Salary)|
+------+--------+-----------+
|Preeti|      30|      75000|
|Keshav|      23|      25000|
|  Raju|      25|      75000|
| Rahul|      19|      25000|
|Shweta|      20|      50000|
| Mohit|      22|      25000|
|Laxman|      24|      50000|
+------+--------+-----------+